<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
        <form>
            <div class="field">
              <div class="control">
            <input class="input" type="text" placeholder="Article Title" id="titleInput">
              </div>  
            </div>
            <div class="field">
              <div class="control">
                   <textarea class="textarea" placeholder="Whatcha thinkin' about?" rows="10" id="contentInput"></textarea>
              </div>  
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary" id="submit-article">Submit</button>
              </div>  
            </div>
           
        </form>
        </div>
    </div>
</section>
<script src="/scripts/article-form.js"></script>